@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");

body {
  font-family: "Knewave", cursive;
  padding: 10px;
  margin: 10px;
  color: white;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  text-align: center;
  background-color: rgb(6, 167, 0);
}
#inputCards {
  background: #5f00cc;
}
input {
  border-radius: 40px;
  align-content: center;
  text-align: center;
  border: 4px black solid;
}
.ButtonStyle {
  background: #cc0000;
  border-radius: 50%;
  border: 3px solid black;
  height: 90px;
}
.cards-container-row {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.cards-container-sort-row {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.card {
  background-color: white;
  height: 80px;
  width: 55px;
  margin-right: 15px;
  border-radius: 7%;
  border: 1px solid black;
}

.container-number {
  margin: -25% 0% 45% 0%;
  text-align: center;
}

.container-suit-button {
  transform: rotate(180deg);
  position: absolute;
  top: 38px;
  left: 40px;
}

.sort-content {
  margin-top: 30px;
}
.pText {
  font-size: 2em;
  color: #fff;
}

.iteration-num-container {
  display: flex;
  align-items: center;
  margin: 15px;
}

.iteration-num {
  font-size: 25px;
}

.redColor {
  color: red;
}

.blackColor {
  color: black;
}
.sort-content {
  align-self: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}
